<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Chinese Zodiac - AJAX version" />

	<ui:define name="maincontent">
		<div class="jumbotron">
			<h1>Gong Xi Fa Cai - AJAX version</h1> 
		</div>
		<h:form>
			<p:messages id="messages" />
			
			<p:graphicImage id="animalImage" 
				value="#{chineseZodiacController.animalImageUrl}" />
			
			<p:focus />
			
			<div class="form-group">
				<p:outputLabel for="birthYear">Birth Year:</p:outputLabel>
				<p:spinner id="birthYear" min="1900" max="2020"
					value="#{chineseZodiacController.birthYear}" size="5">
					<p:ajax update="messages, animalImage" 
						listener="#{chineseZodiacController.calculate()}" />	
				</p:spinner>
			</div>
		</h:form>				
	</ui:define>

</ui:composition>
