<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Chinese Zodiac" />

	<ui:define name="maincontent">
		<div class="jumbotron">
			<h1>Gong Xi Fa Cai</h1> 
		</div>
		<h:form>
			<p:messages id="messages" />
			
			<p:graphicImage id="animalImage" 
				value="#{chineseZodiacController.animalImageUrl}" />
			
			<p:focus />
			
			<div class="form-group">
				<p:outputLabel for="birthYear">Birth Year:</p:outputLabel>
				<p:inputText id="birthYear"
					value="#{chineseZodiacController.birthYear}"></p:inputText>
				<p:commandButton value="Go!" 
					actionListener="#{chineseZodiacController.calculate()}"
					ajax="true" 
					update="messages, animalImage">
				</p:commandButton>
			</div>
		</h:form>				
	</ui:define>

</ui:composition>
