<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">
	
	<ui:param name="title" value="Chinook - Albums By Artist" />

	<ui:define name="maincontent">
		<f:metadata>
			<f:viewParam name="artistId" value="#{albumByArtistController.artistId}" />
			<f:event type="preRenderView" listener="#{albumByArtistController.findAlbumsByArtistId()}" />
		</f:metadata>
	
		<div class="container">
			<div class="jumbotron">
				<h1>Albums By #{albumByArtistController.selectedArtist.name}</h1>
			</div>
			
			<p:dataTable value="#{albumByArtistController.albumsByArtist}" var="album"
				paginator="true" rows="10" paginatorPosition="bottom">
				
				<f:facet name="header">
					Albums By #{albumByArtistController.selectedArtist.name}
				</f:facet>
				
				<p:column headerText="AlbumID" style="width: 100px">
					<h:outputText value="#{album.albumId}" />
				</p:column>			
				
				<p:column headerText="Album Title">
					<h:outputText value="#{album.title}" />
				</p:column>			
				
				<p:column headerText="Artist Name" style="width:300px">
					<h:outputText value="#{album.artist.name}" />
				</p:column>		
				
				<p:column headerText="Action">
					<p:link outcome="tracksByAlbum.xhtml">
						<f:param name="albumId" value="#{album.albumId}" />
						view tracks
					</p:link>
				</p:column>			
				
			</p:dataTable>
		
		</div>
		
	</ui:define>

</ui:composition>