<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">

	<ui:param name="title" value="Chinook - Artists" />

	<ui:define name="maincontent">
		<div class="container">
			<div class="jumbotron">
				<h1>Artists</h1>
			</div>
			
			<p:messages id="messages" />
						
			<p:dataTable 
				value="#{artistController.retreiveAllArtists()}" 
				var="artist"
				paginator="true" 
				rows="20"
				paginatorPosition="bottom">
				
				<f:facet name="header">
					Artists
				</f:facet>
				
				<p:column headerText="ArtistID">
					<h:outputText value="#{artist.artistId}" />
				</p:column>

				<p:column headerText="Artist Name">
					<h:outputText value="#{artist.name}" />
				</p:column>
				
				<p:column headerText="Action" style="width: 150px">
					<p:link outcome="albumsByArtist.xhtml?artistId=#{artist.artistId}">
						<f:param name="artistId" value="#{artist.artistId}" />
						view albums
					</p:link>
				</p:column>				

			</p:dataTable>
		</div>

	</ui:define>

</ui:composition>