<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook-nojquery.xhtml">
	
	<ui:param name="title" value="Chinook - Find Album" />

	<ui:define name="maincontent">
		<p:messages id="messages" />
		
		<h:form id="searchForm">								
			<p:outputPanel id="searchFormPanel">
				<p:panel header="Find Album"
					rendered="#{findAlbumController.currentAlbum == null}">
					<p:outputLabel for="searchValue" 
						value="Album ID:">
					</p:outputLabel>
					<p:inputText id="searchValue"
						value="#{findAlbumController.searchValue}">
					</p:inputText>
					<p:commandButton value="search"
						actionListener="#{findAlbumController.findAlbum()}"
						ajax="false">
					</p:commandButton>
				</p:panel>
			</p:outputPanel>
			<p:outputPanel id="searchResultPanel">
				<p:panel header="Album Information"
					rendered="#{findAlbumController.currentAlbum != null}">
					
					<div class="form-group">
						<p:outputLabel for="albumId" value="Album ID">
						</p:outputLabel>
						<p:inputText id="albumId" 
							styleClass="form-control"
							value="#{findAlbumController.currentAlbum.albumId}"
							readonly="readonly">
						</p:inputText>
					</div>
						
						
					<div class="form-group">
						<p:outputLabel for="albumTitle" value="Album Title">
						</p:outputLabel>
						<p:inputText id="albumTitle" 
							styleClass="form-control"
							value="#{findAlbumController.currentAlbum.title}">
						</p:inputText>
					</div>
						
						
					<div class="form-group">
						<p:outputLabel for="artistId" value="Artist">
						</p:outputLabel>
						<h:selectOneMenu id="artistId"
							styleClass="form-control"
							value="#{findAlbumController.selectedArtistId}" >
							<f:selectItem itemValue="0" 
								itemLabel="---select artist---" />
							<f:selectItems value="#{findAlbumController.artists}" 
								var="item"
								itemValue="#{item.artistId}"
								itemLabel="#{item.name}" />
						</h:selectOneMenu>
					</div>												
						
					<p:commandButton value="Save"
						styleClass="btn btn-primary"
					actionListener="#{findAlbumController.saveAlbum()}"
						ajax="false">
					</p:commandButton>
					
					<p:commandButton value="Delete"
						immediate="false"
						styleClass="btn btn-danger"
						actionListener="#{findAlbumController.deleteAlbum}"
						ajax="false" update="messages">
						<!-- <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" /> -->
					</p:commandButton>
										
					<p:commandButton value="Cancel"
						styleClass="btn btn-default"
						immediate="true"
						actionListener="#{findAlbumController.cancel()}"
						ajax="false">
					</p:commandButton>

				</p:panel>
			</p:outputPanel>
			
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>
