<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook-nojquery.xhtml">
	
	<ui:param name="title" value="ChinookDB - Genre Revenue Report" />

	<ui:define name="maincontent">
		
		<h3>Genre Revenue Report</h3>
		<p:messages id="messages" />
		<h:form id="reportForm">
			
			<p:chart type="bar" 
				model="#{genreRevenueReportController.revenueChartModel}"
				style="height:1000px">
			</p:chart>
				
			<p:dataTable id="genreRevenueTable"
				value="#{genreRevenueReportController.genreRevenueList}"
				var="item">
				
				<p:column headerText="Genre Name" sortBy="#{item.genreName}">
					#{item.genreName}
				</p:column>
				
				<p:column headerText="Total Revenue" sortBy="#{item.genreTotalRevenue}">
					<h:outputText value="#{item.genreTotalRevenue}">
						<f:convertNumber type="currency" />
					</h:outputText>
				</p:column>
			
			</p:dataTable>
		</h:form>
		
	</ui:define>

</ui:composition>
