<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">

	<ui:param name="title" value="Chinook - Artists" />

	<ui:define name="maincontent">
		<div class="container">
			<div class="jumbotron">
				<h1>Artists</h1>
			</div>
			
			<p:messages id="messages" />
			
			<h:form id="artistForm">
			
				<p:outputPanel id="artistTablePanel">
						
					<p:dataTable 
						value="#{artistSinglePageController.allArtist}" 
						var="artist"
						rendered="#{empty artistSinglePageController.albumsByArtist}"
						paginator="true" 
						rows="20"
						paginatorPosition="bottom">
						
						<f:facet name="header">
							Artists
						</f:facet>
						
						<p:column headerText="ArtistID">
							<h:outputText value="#{artist.artistId}" />
						</p:column>
		
						<p:column headerText="Artist Name">
							<h:outputText value="#{artist.name}" />
						</p:column>
						
						<p:column headerText="Action" style="width: 150px">
							<p:commandLink value="view albums" 
								actionListener="#{artistSinglePageController.findAlbumByArtist(artist)}"
								ajax="true" update=":artistForm:artistTablePanel, :artistForm:albumTablePanel">
								
							</p:commandLink>
						</p:column>				
		
					</p:dataTable>
			
				</p:outputPanel>
				
				<p:outputPanel id="albumTablePanel">
				
					<p:dataTable id="albumTable"
						value="#{artistSinglePageController.albumsByArtist}" 
						var="album"
						rendered="#{artistSinglePageController.selectedArtist != null and artistSinglePageController.selectedAlbum == null}"
						paginator="true" rows="10" paginatorPosition="bottom">
						
						<f:facet name="header">
							Albums By #{artistSinglePageController.selectedArtist.name}
						</f:facet>
						
						<p:column headerText="AlbumID" style="width: 100px">
							<h:outputText value="#{album.albumId}" />
						</p:column>			
						
						<p:column headerText="Album Title">
							<h:outputText value="#{album.title}" />
						</p:column>			
						
						<p:column headerText="Artist Name" style="width:300px">
							<h:outputText value="#{album.artist.name}" />
						</p:column>		
						
						<p:column headerText="Action">
							<p:commandLink value="view tracks" 
								actionListener="#{artistSinglePageController.findTracksFromAlbum(album)}"
								ajax="true" update=":artistForm:albumTablePanel, :artistForm:trackTablePanel">
								
							</p:commandLink>
						</p:column>			
						
					</p:dataTable>
			
				</p:outputPanel>
				
				<p:outputPanel id="trackTablePanel">
				
					<p:dataTable id="trackTable" 
						value="#{artistSinglePageController.tracksFromAlbum}" 
						var="track"
						rendered="#{artistSinglePageController.selectedAlbum != null}"
						paginator="true" 
						rows="10" 
						paginatorPosition="bottom">
						
						<f:facet name="header">
							Tracks From Album "#{artistSinglePageController.selectedAlbum.title}"
						</f:facet>
						
						<p:column headerText="TrackId" style="width: 100px">
							<h:outputText value="#{track.trackId}" />
						</p:column>			
						
						<p:column headerText="Bytes" styleClass="text-right">
							<h:outputText value="#{track.bytes}">
								<f:convertNumber type="number" />
							</h:outputText>
						</p:column>		
		
						<p:column headerText="Composer">
							<h:outputText value="#{track.composer}" />
						</p:column>		
						
						<p:column headerText="Genre Name">
							<h:outputText value="#{track.genre.name}" />
						</p:column>		
		
						<p:column headerText="Media Type Name">
							<h:outputText value="#{track.mediaType.name}" />
						</p:column>			
		
						<p:column headerText="Milliseconds" styleClass="text-right">
							<h:outputText value="#{track.milliseconds}">
								<f:convertNumber type="number" />
							</h:outputText>
						</p:column>		
		
						<p:column headerText="Track Name">
							<h:outputText value="#{track.name}" />
						</p:column>			
										
						<p:column headerText="Unit Price" styleClass="text-right">
							<h:outputText value="#{track.unitPrice}">
								<f:convertNumber type="currency" />
							</h:outputText>
						</p:column>			
										
					</p:dataTable>
					
				</p:outputPanel>
			
			</h:form>
			
			
		</div>

	</ui:define>

</ui:composition>